[project]
	description = A module for managing checks and fixes for the 'dirty cow' kernel bug
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SIMP Admins
	owner = group user/Trevor Vaughan (trevor-vaughan)
	owner = group user/simp-auto
[access "refs/for/refs/*"]
	read = group SIMP Developers
	read = group user/Trevor Vaughan (trevor-vaughan)
	push = group SIMP Developers
	push = group user/Trevor Vaughan (trevor-vaughan)
	label-Code-Review = -2..+2 group SIMP Developers
	label-Code-Review = -2..+2 group user/Trevor Vaughan (trevor-vaughan)
	pushMerge = group SIMP Developers
[access "refs/heads/*"]
	read = group SIMP Developers
	read = group user/Trevor Vaughan (trevor-vaughan)
	create = group SIMP Developers
	create = group user/Trevor Vaughan (trevor-vaughan)
	push = group SIMP Developers
	push = +force group user/Trevor Vaughan (trevor-vaughan)
	pushMerge = group SIMP Developers
	pushMerge = group user/Trevor Vaughan (trevor-vaughan)
	label-Code-Review = -2..+2 group SIMP Developers
	label-Code-Review = -2..+2 group SIMP Reviewers
	label-Verified = -1..+1 group SIMP Developers
	label-Verified = -1..+1 group SIMP Reviewers
	rebase = group SIMP Developers
	removeReviewer = group SIMP Developers
	submit = group SIMP Developers
	editTopicName = group SIMP Developers
[access "refs/tags/*"]
	push = group SIMP Developers
	push = +force group user/Trevor Vaughan (trevor-vaughan)
	pushTag = group SIMP Developers
	pushTag = group user/Trevor Vaughan (trevor-vaughan)
	pushSignedTag = group SIMP Developers
	pushSignedTag = group user/Trevor Vaughan (trevor-vaughan)
	create = group SIMP Developers
