[project]
	description = A module for managing checks and fixes for the 'dirty cow' kernel bug
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Trevor Vaughan (trevor-vaughan)
[access "refs/for/refs/*"]
	read = group user/Trevor Vaughan (trevor-vaughan)
	push = group user/Trevor Vaughan (trevor-vaughan)
	label-Code-Review = -2..+2 group user/Trevor Vaughan (trevor-vaughan)
	label-Verified = -1..+1 group user/Trevor Vaughan (trevor-vaughan)
	rebase = group user/Trevor Vaughan (trevor-vaughan)
	removeReviewer = group user/Trevor Vaughan (trevor-vaughan)
	submit = group user/Trevor Vaughan (trevor-vaughan)
[access "refs/heads/*"]
	read = group user/Trevor Vaughan (trevor-vaughan)
	create = group user/Trevor Vaughan (trevor-vaughan)
	push = +force group user/Trevor Vaughan (trevor-vaughan)
	pushMerge = group user/Trevor Vaughan (trevor-vaughan)
[access "refs/tags/*"]
	push = +force group user/Trevor Vaughan (trevor-vaughan)
	pushTag = group user/Trevor Vaughan (trevor-vaughan)
	pushSignedTag = group user/Trevor Vaughan (trevor-vaughan)
